{% load static %} {% load humanize %} {% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "components/head.html" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.0/b-2.0.0/datatables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <header id="header">
        <div id="create" class="modal">
            <form onsubmit="submitForm(this,1,1)">
                <div class="modal-content" style="width:100%;">
                    <center>
                        <h5>Team</h5>
                    </center>
                    <input type="text" name="name" value="" placeholder="Name" required>
                    <input type="text" name="type" value="" placeholder="Type" required>
                    <select onchange="addTeam(this)" required>
                      <option disabled selected>Select players</option>
                      {%for i in players%}
                      <option value="{{i}}">{{i}}</option>
                      {%endfor%}
                    </select>
                    <input type="hidden">
                    <div class="cchips"></div>
                    <input type='hidden' value='0' name='t'>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
                    <input type="submit" value="Submit" class="modal-action waves-effect waves-blue btn-flat">
                </div>

            </form>
        </div>
        {%for i in teams%}
        <div id="edit_{{i.id}}" class="modal">
            <form method='post' onsubmit="f({{i.id}})" action="{% url 'editteam' %}">
                {% csrf_token %}

                <div id='ki' class="modal-content" style="width:100%;">
                    <center>
                        <h4>Team</h4>
                    </center>
                    <input id='name1' type="text" name="name" value="{{i.name}}" placeholder="Name" required>
                    <input id='type' type="text" name="type" value="{{i.type}}" placeholder="Type" required>
                    <select id='team' onchange="addTeam(this)" required>
                        <option disabled selected>Select players</option>
                        {%for j in players%}
                        <option value="{{j}}">{{j}}</option>
                        {%endfor%}
                    </select>
                    <input type="hidden">
                    <div name='{{i.id}}chips' id="{{i.id}}chips" class="{{i.id}}chips">

                    </div>

                    <input type="hidden" value="" name='{{i.id}}op' id='{{i.id}}op'>
                    <input type="hidden" name="id" value="{{i.id}}">
                    <input type="hidden" id="{{i.id}}allteams" value="{{i.players}}">
                    <input name='k' id="k" value="{{i.players}}">

                </div>
                <div class="modal-footer">
                    <input type='hidden' value='{{To}}' name='t'>
                    <a class="modal-action modal-close effect  btn-flat">Close</a>
                    <input id='bun' type="submit" value="Submit" class="modal-action -effect btn-flat">
                </div>
            </form>
            <script>
                function f(id) {

                    var t = document.getElementById(id + 'chips').innerText;
                    alert(t)

                    var f = document.getElementById(id + 'op');
                    f.value = t
                    alert(f.value)


                }
            </script>
            <script>
                function initTeas(id) {
                    const tempteams = $("." + id + "chips")[0];

                    var data = [];
                    if ($("#" + id + "allteams").val() != "") {
                        $("#" + id + "allteams").val().split(',').forEach(element => {
                            data.push({
                                tag: element
                            });
                        });
                    }
                    console.log(data)
                    M.Chips.init(
                        tempteams, {
                            placeholder: "Add more",
                            data: data,
                        }
                    );
                    var instance = M.Chips.getInstance(tempteams);
                }
            </script>
        </div>
        <div id="delete_{{i.id}}" class="modal">
            <form action="{% url 'deleteteam' %}" method="post">
                <div class="modal-content" style="width: 100%;">
                    <h4>Confirmation</h4>
                    <p>Delete team {{i.name}}?</p>
                    <input type="hidden" name="id" value="{{i.id}}">
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
                    <input type="submit" value="Yes" class="modal-action waves-effect waves-blue btn-flat">
                </div>
            </form>
        </div>
        {%endfor%} {% include "components/navbar.html"%}
    </header>
    <div class="row">
        <div class="page-container">
            {% include "components/leftpane.html"%}
            <div class="center">
                <div class="row" style="width:100%;">
                    <div class="top-pane">
                        <div class="row">
                            <div class="col l3">
                            </div>
                            <div class="col l6 center">
                                <h5>TEAMS</h5>
                            </div>
                            <div class="col l3 ">
                                <a style="float: right;border-radius: 16px;margin-top: 10px;" class="waves-effect waves-light btn blue modal-trigger" href="#create">
                                    <i class="material-icons left">add</i>Create
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="center-pane">
                        <div class="row">
                            <div class="tour-tabs">
                                <table id="myTable" class="bordered striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">No.</th>

                                            <th style="text-align: center;">Name</th>
                                            <th style="text-align: center;">Type</th>
                                            <th style="text-align: center;">Stats</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in teams %}
                                        <tr>
                                            <td style="text-align: center ">{{i.id}}</td>
                                            <td style="text-align: center "><a href="/td/{{i.id}}">{{i}}</a></td>
                                            <td style="text-align: center ">{{i.type}}</td>
                                            <td style="text-align: center "><a class="waves-effect waves-light modal-trigger " href="/stat/{{i.id}}/{{use}} " value={{i.id}}>stats</a></td>
                                            <td style="text-align: center "><a class="waves-effect waves-light modal-trigger " onclick="initTeas({{i.id}})" href="#edit_{{i.id}}">Edit</a><a>    |</a> <a class="waves-effect waves-light modal-trigger" href="#delete_{{i.id}}">Delete</a></td>
                                        </tr>
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/rightpane.html " with rightpane=rightpane %}
        </div>
    </div>
    </main>
    <script type="text/javascript" src="{% static 'js/njn.js'%}"></script>
    {% include "components/footer.html " %} {% include "components/scripts.html " %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.0/b-2.0.0/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                searching: false,
                paging: false,
                info: false
            });
        });
    </script>
</body>

</html>