{%load static%}
<title>Crimpulse</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Crimpulse">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{% static 'css/icon.css'%}">
<link rel="stylesheet" href="{% static 'css/w3.css'%}">
<link rel="stylesheet" href="{% static 'css/materialize.min.css'%}">
<link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{%static 'channels/websocketbridge.js'%}"></script>